/node_modules
/public/hot
/public/storage
/public/css
/public/css/admin.css
/public/css/guest.css
/public/js
/public/js/admin.js
/public/js/guest.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app/Http/Controllers/Api/DoctorController_old.php
app/Http/Controllers/Api/DoctorController copy.php
database/seeds/ReviewSeeder_old.php
