 /* ------------------------
RESET
------------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overflow{
    overflow: hidden
}

*::-webkit-scrollbar{
    display: none;
}
*{
    scrollbar-width: none;
}

/* ------------------------
IMPORTS BOOTSTRAP
------------------------ */
@import '~bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';


/* ------------------------
IMPORTS
------------------------ */

@import './partials/_nav';
@import './_variables';

/* ------------------------
TYPO
------------------------ */
@import url('https://fonts.googleapis.com/css?family=Nunito');