.braintree-sheet__header{
    background-color: rgb(24, 67, 112);
    
    .braintree-sheet__text{
        color: white;
    }
}

.button{
    background-color:rgba($ms_blue, 0.9);
    color: white;
    padding: 5px 5px;
    border-radius:3px;
    border: 0;
}

.braintree-sheet__content{
    background-color:rgba($ms_blue, 0.2);
    color: white;
}

.braintree-form__label{
    color: white;
    font-size:500px;
}

.braintree-form__field{
    background-color: rgb(24, 67, 112);
    border-radius:3px;
}


.number{
    background-color: white;
}


