.braintree-sheet__header{
    background-color: #003062;
    
    .braintree-sheet__text{
        color: white;
    }
}

.button{
    background-color: #003062;
    color: white;
    padding: 5px 5px;
    border-radius:3px;
    border: 0;
}

.braintree-sheet__content{
    background-color:rgba(#003062,0.3) ;
    color: white;
}

.braintree-form__label{
    color: white;
    font-size:500px;
}

.braintree-form__field{
    background-color: rgba(#003062,0.8);
    border-radius:3px;
}


.number{
    background-color: white;
}

label{
    color: white;
}