.review-header{
    h3{
        color: #003062;
    }
}


.ms_user {
    color: #003062;
}

.ms_star {
    color: #003062;
    font-weight: bold;
}

.ms_datetime {
    color: #888;
}

.ms_cardreview {
    padding: 15px 15px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
    word-break: break-all;
    max-height: 250px;
}